@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);

body{
  font-family:'Ubuntu';
}

.wrap{
  padding:120px 0;
  font-size:62px;
  color:#888;
  width:400px;
  font-family:'Karla';
  margin:0 auto;
  text-align:center;
}

input{
  font-family:'Ubuntu';
  font-weight:300;
  border:0;
  border-bottom:1px solid #ff5407;
  width:100%;
  height:36px;
  font-size:26px;
}

input:focus{
  outline:none;
  box-shadow:none;
  background:#ffeae2;
}

button{
  border:0;
  background:transparent;
  padding:5px;
  margin-top:50px;
  position:relative;
  outline:0;
}
.buttonafter:after{
  content:'';
  display:block;
  position:absolute;
  top:8px;
  left:100%; /*should be set to 100% */
  width:0;
  height:0;
  border-color: transparent transparent transparent #14a03d; /*border color should be same as div div background color*/
  border-style: solid;
  border-width: 5px;

}

.forgot{
  background:#a0a0a0;
  color:#fff;
  float:left;
  margin-right: 20px;
}

.login{
  background:#a0a0a0;
  color:#fff;
  float:right;
}
/*Loader*/

.loader_container
{
  width: 100%;
  height: 100vh;
  margin: 0;
}
.loader {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #ff5407;
  border-radius: 50%;
}
.loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 0px solid white;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: loading 1000ms ease-out forwards infinite;
  animation: loading 1000ms ease-out forwards infinite;
}

@-webkit-keyframes loading {
  0% {
    border: 0px solid white;
  }
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}

@keyframes loading {
  0% {
    border: 0px solid white;
  }
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}

/* CHAT */

.chat {
  background: #ffffff;
  width: 80%;
  margin: 0 auto;
}
.chat header {
  background: #ff8249;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: move;
}
.chat header:before,
.chat header:after {
  display: block;
  content: '';
  clear: both;
}
.chat header h2,
.chat .body ul li .content h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  float: left;
}
.chat header h2 a {
  color: #ffffff;
  text-decoration: none;
}
.chat header .tools {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.chat header .tools li {
  display: inline-block;
  margin-right: 6px;
}
.chat header .tools li:last-child {
  margin: 0;
}
.chat header .tools li a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.chat .body {
  position: relative;
  max-height: 600px;
  overflow-y: scroll;
}
.chat .body .search {
  display: none;
  width: 100%;
}
.chat .body .search.opened {
  display: block;
}
.chat .body .search input {
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  border: none;
  -webkti-box-size: border-box;
  -moz-box-size: border-box;
  box-size: border-box;
}
.chat .body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #f2f2f2;
}
.chat .body ul li {
  position: relative;
  background: #ffffff;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.chat .body ul li:before,
.chat .body ul li:after {
  display: block;
  content: '';
  clear: both;
}
.chat .body ul li:hover .thumbnail {
  background: #bd6982;
}
.chat .body ul li:nth-child(2n) {
  background: #f2f2f2;
}
.chat .body ul li .thumbnail {
  display: inline-block;
  background: #bfbfbf;
  width: 65px;
  color: #ffffff;
  
  text-align: center;
  text-decoration: none;
  -webkit-transition: background 0.3s linear 0s;
  -moz-transition: background 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s;
  transition: background 0.3s linear 0s;
}
.chat .body ul li .thumbnail img {
  width: 100%;
}
.chat .body ul li .content {
  display: inline-block;
  margin-left: 6px;
  vertical-align: top;
  line-height: 1;
}
.chat .body ul li .content h3 {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #808080;
}
.chat .body ul li .content .preview {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 5px;
  color: ##808080;;
  font-size: 12px;
}
.chat .body ul li .content .meta {
  color: #b3b3b3;
  font-size: 12px;
}
.chat .body ul li .content .meta a {
  color: #999999;
  text-decoration: none;
}
.chat .body ul li .content .meta a:hover {
  text-decoration: underline;
}
.chat .body ul li .message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.chat footer a {
  background: #ff8249;
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}
.chat footer a:hover {
  background: #e2713d;
  -webkit-transition: background 0.3s linear 0s;
  -moz-transition: background 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s;
  transition: background 0.3s linear 0s;
}
.info {
  width: 300px;
  margin: 25px auto;
  text-align: center;
}
.info h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
.info span {
  color: #666666;
  font-size: 12px;
}
.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #bd6982;
}
.info span .spoilers {
  color: #999999;
  margin-top: 5px;
  font-size: 10px;
}

.input_message{
  width:50%;
}
